body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  font-family: Lobster,Pacifico;
   background-image: url('var_muitos.gif');
    background: linear-gradient(45deg, #B846DB, #DB0F3F, #DB45C1, #8746DB, #DB12BA);
    background-size: 400% 400%;
    animation: gradientAnimation 13s ease infinite;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    } 50%{
      background-position: 100% 50%;
    }100% {
      background-position: 0% 50%;
    }
}
/* Adicione estilos para os corações 
.heart {
    position: absolute;
    width: 20px;
    animation: fall 2s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}*/

.container {
    text-align: center;
    background-image: url("var_muitos.gif")
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#lovePhrase{
  color: #9A19C2;
}
button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}
